%form{ :action => '/login/attempt', :method => 'post', :class => "form-inline well" }
  %input{ :name => 'username', :placeholder => "username", :autofocus => true }
  %input{ :class => "btn primary", :type => 'submit', :value => 'log in' }
